# Charts and generated parts are copyrighted material; keep them out of the
# build context so they can never reach a published image.
data/

.git
.github
__pycache__/
*.py[cod]
.venv/
.DS_Store
result
flake.nix
flake.lock
.envrc
