# Charts and generated parts stay out of git: they are copyrighted material.
# One rule over the whole tree rather than a rule per folder, because the
# cost of getting this wrong is publishing someone else's score.
data/

__pycache__/
*.py[cod]
.venv/
.DS_Store
result
